body {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}
.box {
  border-radius: 8px !important;
  background-color: #f5f5f5 !important;
  border-color: transparent !important;
  box-shadow: 1px 1px 5px 3px #f5efef !important;
}
